<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/2025/Softwares/IntelliJWorkSpace/HelloWorld">
        <classes>
            <class name="HelloTest"></class>
            <class name="StringDuplicateAndCountWithMapTest"></class>
        </classes>
    </test>
</suite>